<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dog House</title>
    </head>
    <body>
        <h1>Aloha, and welcome to the Dog House</h1>
        <ul>
            ${ pups.map(p => { console.log("puppies"); return `
            <li><a href="/puppies/${p.name}">${p.name}</a></li>
            ` }).join(" ") }
            <a href="/puppies">View Pups</a>
        </ul>
    </body>
</html>
